/* Body général pour toutes les pages inscrites ici */

body{
    --main-color: #FF7C00;
    --hover-color: #FF9700;
    font-family: 'Montserrat', sans-serif;
    --background-color: rgb(64,68,75);
    background-color: var(--background-color);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* Permet de retirer l'espace que prend la balise <div> */

.launcher-info{
    margin: 0px;
    position: absolute;
}

/* Gestion de la top barre */

.top-barre{
    width: 1280px;
    height: 40px;
    margin: 0px;
    border: none;
    background-color: rgb(47, 49, 54);
    position: absolute;
}
.reduce-btn{
    width: 27px;
    height: 23px;
    margin: 0px;
    background: url('../img/icon/reduce-app.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -32px;
    right: -1180px;
}
.reduce-btn:hover{
    cursor: pointer;
}
.close-btn{
    width: 22px;
    height: 22px;
    margin: 0px;
    background: url('../img/icon/close-app.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -32px;
    right: -1250px;
}
.close-btn:hover{
    cursor: pointer;
}

/* Config balise pour la fenêtre amis */

.config-amis{
    margin: 0px;
    position: absolute;
}

/* Gestion de la page "accueil.html" */

.amis-barre{
    width: 325px;
    height: 550px;
    margin: 0px;
    border-radius: 7px;
    background-color: rgb(91, 98, 107);
    position: absolute;
    bottom: -690px;
    right: -1265px;
}
.amis{
    width: 90px;
    height: 26px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin: 0px;
    border-radius: 15px;
    background-color: #a77e58;
    border: none;
    position: absolute;
    bottom: -180px;
    right: -1065px;
}
.amis:hover{
    cursor: pointer;
}
.add-amis{
    width: 125px;
    height: 26px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin: 0px;
    border-radius: 15px;
    background-color: #a77e58;
    border: none;
    position: absolute;
    bottom: -180px;
    right: -1230px;
}
.add-amis:hover{
    cursor: pointer;
}
.amis-barre-reduce{
    width: 325px;
    height: 550px;
    margin: 0px;
    border-radius: 7px;
    background-color: rgb(91, 98, 107);
    position: absolute;
    bottom: -690px;
    right: -1265px;
    animation: a 1.5s linear 1;
    animation-fill-mode: forwards;
}
@keyframes a {
    0% {
        width: 325px;
        right: -1265px;
    }
    25% {
        width: 244px;
    }
    50% {
        width: 163px;
    }
    75% {
        width: 82px;
    }
    100% {
        width: 0px;
        right: -1280px;
    }
}
.amis-reduce{
    width: 90px;
    height: 26px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin: 0px;
    border-radius: 15px;
    background-color: #a77e58;
    border: none;
    position: absolute;
    bottom: -180px;
    right: -1065px;
    animation: b 1.5s linear 1;
    animation-fill-mode: forwards;
}
@keyframes b {
    0% {
        width: 90px;
        right: -1065px;
        color: white;
        font-size: 15px;
    }
    25% {
        width: 68px;
        right: -1125px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 7px;
    }
    50% {
        width: 46px;
        right: -1170px;
        color: rgba(255, 255, 255, 0);
        font-size: 0px;
    }
    75% {
        width: 24px;
        right: -1220px;
        color: rgba(255, 255, 255, 0);
        font-size: 0px;
    }
    100% {
        width: 0px;
        right: -1280px;
        color: rgba(255, 255, 255, 0);
        font-size: 0px;
    }
}
.add-amis-reduce{
    width: 125px;
    height: 26px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin: 0px;
    border-radius: 15px;
    background-color: #a77e58;
    border: none;
    position: absolute;
    bottom: -180px;
    right: -1230px;
    animation: c 1.5s linear 1;
    animation-fill-mode: forwards;
}
@keyframes c {
    0% {
        width: 125px;
        right: -1230px;
        color: white;
        font-size: 15px;
    }
    25% {
        width: 94px;
        right: -1245px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 7px;
    }
    50% {
        width: 63px;
        right: -1260px;
        color: rgba(255, 255, 255, 0);
        font-size: 0px;
    }
    75% {
        width: 32px;
        right: -1270px;
        color: rgba(255, 255, 255, 0);
        font-size: 0px;
    }
    100% {
        width: 0px;
        right: -1280px;
        color: rgba(255, 255, 255, 0);
        font-size: 0px;
    }
}
.logo-accueil_1{
    width: 28px;
    height: 28px;
    margin: 0px;
    background: url('../img/icon/house_icon.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -273px;
    right: -65px;
}
.logo-jeux_1{
    width: 28px;
    height: 22px;
    margin: 0px;
    background: url('../img/icon/game_icon.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -331px;
    right: -65px;
}
.logo-site-web_1{
    width: 25px;
    height: 25px;
    margin: 0px;
    background: url('../img/icon/web-site_icon.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -393px;
    right: -65px;
}
.btn-accueil_1{
    width: 200px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    border: none;
    transition: background 0.2s;
    position: absolute;
    bottom: -280px;
    right: -220px;
}
.btn-accueil_1:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux_1{
    width: 200px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    border: none;
    transition: background 0.2s;
    position: absolute;
    bottom: -340px;
    right: -220px;
}
.btn-jeux_1:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web_1{
    width: 200px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    border: none;
    transition: background 0.2s;
    position: absolute;
    bottom: -400px;
    right: -220px;
}
.btn-site-web_1:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis_1{
    width: 30px;
    height: 30px;
    margin: 0px;
    background: url('../img/icon/amis_icon.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -115px;
    right: -1075px;
}
.btn-amis_1:hover{
    cursor: pointer;
}
.btn-profil_1{
    width: 30px;
    height: 30px;
    margin: 0px;
    background: url('../img/icon/profil_icon.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -115px;
    right: -1150px;
}
.btn-profil_1:hover{
    cursor: pointer;
}
.news-menu_1{
    width: 564px;
    height: 46px;
    margin: 0px;
    border-radius: 18px;
    background-color: rgb(85, 91, 100);
    position: absolute;
    bottom: -120px;
    right: -922px;
}
.news-launcher_1{
    width: 150px;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border-radius: 15px;
    background-color: #a77e58;
    border: none;
    position: absolute;
    bottom: -115px;
    right: -537px;
}
.news-launcher_1:hover{
    cursor: pointer;
}
.news-jeux_1{
    width: 150px;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border-radius: 15px;
    background-color: #a77e58;
    border: none;
    position: absolute;
    bottom: -115px;
    right: -714px;
}
.news-jeux_1:hover{
    cursor: pointer;
}
.news-divers_1{
    width: 150px;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    border: none;
    position: absolute;
    bottom: -115px;
    right: -892px;
}
.news-divers_1:hover{
    cursor: pointer;
}

/* Gestion de la page "news-jeux.html" */

.logo-accueil_2{
    width: 28px;
    height: 28px;
    margin: 0px;
    background: url('../img/icon/house_icon.png') center no-repeat;
    position: absolute;
    bottom: -228px;
    right: -45px;
}
.logo-jeux_2{
    width: 28px;
    height: 28px;
    margin: 0px;
    background: url('../img/icon/game_icon.png') center no-repeat;
    position: absolute;
    bottom: -262px;
    right: -45px;
}
.logo-site-web_2{
    width: 25px;
    height: 25px;
    margin: 0px;
    background: url('../img/icon/web-site_icon.png') center no-repeat;
    position: absolute;
    bottom: -295px;
    right: -45px;
}
.logo-amis_2{
    width: 26px;
    height: 26px;
    margin: 0px;
    background: url('../img/icon/amis_icon.png') center no-repeat;
    position: absolute;
    bottom: 95px;
    right: -1040px;
}
.logo-profil_2{
    width: 26px;
    height: 26px;
    margin: 0px;
    background: url('../img/icon/profil_icon.png') center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 121px;
    right: -1111px;
}
.btn-accueil_2{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: absolute;
    bottom: -265px;
    right: -25px;
}
.btn-accueil_2:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux_2{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: absolute;
    bottom: -325px;
    left: -179px;
}
.btn-jeux_2:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web_2{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: absolute;
    bottom: -385px;
    left: -384px;
}
.btn-site-web_2:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis_2{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 149px;
    right: -1036px;
}
.btn-amis_2:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-profil_2{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 149px;
    right: -1070px;
}
.btn-profil_2:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.news-menu_2{
    width: 564px;
    max-width: 564px;
    height: 46px;
    max-height: 46px;
    margin: 0px;
    border: none;
    border-radius: 18px;
    background-color: rgb(85, 91, 100);
    position: absolute;
    bottom: 160px;
    right: -347px;
}
.news-launcher_2{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: absolute;
    bottom: 201px;
    right: -375px;
}
.news-launcher_2:hover{
    cursor: pointer;
}
.news-jeux_2{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: absolute;
    bottom: 201px;
    right: -400px;
}
.news-jeux_2:hover{
    cursor: pointer;
}
.news-divers_2{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: absolute;
    bottom: 201px;
    right: -425px;
}
.news-divers_2:hover{
    cursor: pointer;
}

/* Gestion de la page "news-divers.html*/

.logo-accueil_3{
    width: 28px;
    height: 28px;
    background: url('../img/icon/house_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -228px;
    right: -45px;
}
.logo-jeux_3{
    width: 28px;
    height: 28px;
    background: url('../img/icon/game_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -262px;
    right: -45px;
}
.logo-site-web_3{
    width: 25px;
    height: 25px;
    background: url('../img/icon/web-site_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -295px;
    right: -45px;
}
.logo-amis_3{
    width: 26px;
    height: 26px;
    background: url('../img/icon/amis_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 95px;
    right: -1040px;
}
.logo-profil_3{
    width: 26px;
    height: 26px;
    background: url('../img/icon/profil_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 121px;
    right: -1111px;
}
.btn-accueil_3{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -265px;
    right: -25px;
}
.btn-accueil_3:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux_3{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -325px;
    left: -179px;
}
.btn-jeux_3:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web_3{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -385px;
    left: -384px;
}
.btn-site-web_3:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis_3{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1036px;
}
.btn-amis_3:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-profil_3{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1070px;
}
.btn-profil_3:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.news-menu_3{
    width: 564px;
    max-width: 564px;
    height: 46px;
    max-height: 46px;
    margin: 0px;
    border: none;
    border-radius: 18px;
    background-color: rgb(85, 91, 100);
    position: relative;
    bottom: 160px;
    right: -347px;
}
.news-launcher_3{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: relative;
    bottom: 201px;
    right: -375px;
}
.news-launcher_3:hover{
    cursor: pointer;
}
.news-jeux_3{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: relative;
    bottom: 201px;
    right: -400px;
}
.news-jeux_3:hover{
    cursor: pointer;
}
.news-divers_3{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: relative;
    bottom: 201px;
    right: -425px;
}
.news-divers_3:hover{
    cursor: pointer;
}

/* Gestion de la page "jeux.html" */

.logo-accueil_4{
    width: 28px;
    height: 28px;
    background: url('../img/icon/house_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -63px;
    right: -45px;
}
.logo-jeux_4{
    width: 28px;
    height: 28px;
    background: url('../img/icon/game_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -97px;
    right: -45px;
}
.logo-site-web_4{
    width: 25px;
    height: 25px;
    background: url('../img/icon/web-site_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -130px;
    right: -45px;
}
.logo-amis_4{
    width: 26px;
    height: 26px;
    background: url('../img/icon/amis_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 95px;
    right: -1040px;
}
.logo-profil_4{
    width: 26px;
    height: 26px;
    background: url('../img/icon/profil_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 121px;
    right: -1111px;
}
.btn-accueil_4{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -100px;
    right: -25px;
}
.btn-accueil_4:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux_4{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -160px;
    left: -179px;
}
.btn-jeux_4:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web_4{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -220px;
    left: -384px;
}
.btn-site-web_4:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis_4{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1036px;
}
.btn-amis_4:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-profil_4{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1070px;
}
.btn-profil_4:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.lance-recemment{
    font-weight: 700;
    font-size: 14px;
    max-width: 150px;
    margin: 0px;
    color: rgb(196, 196, 196);
    position: relative;
    bottom: -75px;
    right: -60px;
}
input[id="zone-recherche"]{
    width: 250px;
    max-width: 250px;
    height: 25px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(230, 230, 230);
    position: relative;
    bottom: 250px;
    right: -525px;
}
.installed{
    font-weight: 700;
    font-size: 22px;
    max-width: 100px;
    margin: 0px;
    color: rgb(196, 196, 196);
    position: relative;
    bottom: 150px;
    right: -282px;
}
.available{
    font-weight: 700;
    font-size: 22px;
    max-width: 100px;
    margin: 0px;
    color: rgb(196, 196, 196);
    position: relative;
    bottom: -77px;
    right: -282px;
}
.d-jeux-1{
    width: 140px;
    max-width: 140px;
    height: 155px;
    max-height: 155px;
    margin: 0px;
    border: none;
    border-radius: 10px;
    background-color: rgb(79, 128, 0);
    position: relative;
    bottom: -64px;
    right: -282px;
}
.cube-fight{
    font-weight: 600;
    font-size: 15px;
    max-width: 135px;
    margin: 0px;
    color: rgb(196, 196, 196);
    position: relative;
    bottom: -76px;
    right: -282px;
}
.download{
    padding: 12px 0px;
    width: 30px;
    max-width: 30px;
    height: 28px;
    max-height: 28px;
    background-color: rgba(128, 128, 0, 0);
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: -48px;
    right: -364px;
}
.download-icon{
    width: 28px;
    height: 28px;
    border-radius: 10px;
    background: url('../img/icon/download_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -56px;
    right: -385px;
}

/* Gestion de la page "amis.html" */

.logo-accueil_5{
    width: 28px;
    height: 28px;
    background: url('../img/icon/house_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -228px;
    right: -45px;
}
.logo-jeux_5{
    width: 28px;
    height: 28px;
    background: url('../img/icon/game_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -262px;
    right: -45px;
}
.logo-site-web_5{
    width: 25px;
    height: 25px;
    background: url('../img/icon/web-site_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -295px;
    right: -45px;
}
.logo-amis_5{
    width: 26px;
    height: 26px;
    background: url('../img/icon/amis_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 95px;
    right: -1040px;
}
.logo-profil_5{
    width: 26px;
    height: 26px;
    background: url('../img/icon/profil_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 121px;
    right: -1111px;
}
.btn-accueil_5{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -265px;
    right: -25px;
}
.btn-accueil_5:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux_5{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -325px;
    left: -179px;
}
.btn-jeux_5:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web_5{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -385px;
    left: -384px;
}
.btn-site-web_5:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis_5{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1036px;
}
.btn-amis_5:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-profil_5{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1070px;
}
.btn-profil_5:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.friends-menu_1{
    width: 385px;
    max-width: 385px;
    height: 46px;
    max-height: 46px;
    margin: 0px;
    border: none;
    border-radius: 18px;
    background-color: rgb(85, 91, 100);
    position: relative;
    bottom: 160px;
    right: -442px;
}
.friends_1{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: relative;
    bottom: 201px;
    right: -470px;
}
.friends_1:hover{
    cursor: pointer;
}
.add-friends_1{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: relative;
    bottom: 201px;
    right: -495px;
}
.add-friends_1:hover{
    cursor: pointer;
}

/* Gestion de la page "new-amis.html" */

.logo-accueil_6{
    width: 28px;
    height: 28px;
    background: url('../img/icon/house_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -228px;
    right: -45px;
}
.logo-jeux_6{
    width: 28px;
    height: 28px;
    background: url('../img/icon/game_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -262px;
    right: -45px;
}
.logo-site-web_6{
    width: 25px;
    height: 25px;
    background: url('../img/icon/web-site_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -295px;
    right: -45px;
}
.logo-amis_6{
    width: 26px;
    height: 26px;
    background: url('../img/icon/amis_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 95px;
    right: -1040px;
}
.logo-profil_6{
    width: 26px;
    height: 26px;
    background: url('../img/icon/profil_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 121px;
    right: -1111px;
}
.btn-accueil_6{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -265px;
    right: -25px;
}
.btn-accueil_6:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux_6{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -325px;
    left: -179px;
}
.btn-jeux_6:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web_6{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -385px;
    left: -384px;
}
.btn-site-web_6:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis_6{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1036px;
}
.btn-amis_6:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-profil_6{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1070px;
}
.btn-profil_6:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.friends-menu_2{
    width: 385px;
    max-width: 385px;
    height: 46px;
    max-height: 46px;
    margin: 0px;
    border: none;
    border-radius: 18px;
    background-color: rgb(85, 91, 100);
    position: relative;
    bottom: 160px;
    right: -442px;
}
.friends_2{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: relative;
    bottom: 201px;
    right: -470px;
}
.friends_2:hover{
    cursor: pointer;
}
.add-friends_2{
    width: 150px;
    max-width: 150px;
    height: 36px;
    max-height: 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #a77e58;
    position: relative;
    bottom: 201px;
    right: -495px;
}
.add-friends_2:hover{
    cursor: pointer;
}

/* Gestion de la page "profil.html" */

.logo-accueil_7{
    width: 28px;
    height: 28px;
    background: url('../img/icon/house_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -228px;
    right: -45px;
}
.logo-jeux_7{
    width: 28px;
    height: 28px;
    background: url('../img/icon/game_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -262px;
    right: -45px;
}
.logo-site-web_7{
    width: 25px;
    height: 25px;
    background: url('../img/icon/web-site_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -295px;
    right: -45px;
}
.logo-amis_7{
    width: 26px;
    height: 26px;
    background: url('../img/icon/amis_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 95px;
    right: -1040px;
}
.logo-profil_7{
    width: 26px;
    height: 26px;
    background: url('../img/icon/profil_icon.png') center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 121px;
    right: -1111px;
}
.btn-accueil_7{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -265px;
    right: -25px;
}
.btn-accueil_7:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux_7{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -325px;
    left: -179px;
}
.btn-jeux_7:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web_7{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -385px;
    left: -384px;
}
.btn-site-web_7:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis_7{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1036px;
}
.btn-amis_7:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-profil_7{
    padding: 12px 0px;
    width: 33px;
    max-width: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 149px;
    right: -1070px;
}
.btn-profil_7:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}