/* Body général pour toutes les pages inscrites ici */

body{
    --main-color: #FF7C00;
    --hover-color: #FF9700;
    font-family: 'Montserrat', sans-serif;
    --background-color: rgb(64,68,75);
    background-color: var(--background-color);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* Gestion de la page "launcher.html" */

.logo-accueil{
    width: 28px;
    height: 28px;
    background: url('../img/icon/house_icon.png') center center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -63px;
    right: -45px;
}
.logo-jeux{
    width: 28px;
    height: 28px;
    background: url('../img/icon/game_icon.png') center center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -97px;
    right: -45px;
}
.logo-site-web{
    width: 25px;
    height: 25px;
    background: url('../img/icon/web-site_icon.png') center center no-repeat;
    background-size: contain;
    position: relative;
    bottom: -130px;
    right: -45px;
}
.logo-amis{
    width: 24px;
    height: 24px;
    background: url('../img/icon/amis_icon.png') center center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 105px;
    right: -1040px;
}
.logo-news{
    width: 24px;
    height: 24px;
    background: url('../img/icon/notifs_icon.png') center center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 129px;
    right: -1090px;
}
.logo-profil{
    width: 24px;
    height: 24px;
    background: url('../img/icon/profil_icon.png') center center no-repeat;
    background-size: contain;
    position: relative;
    bottom: 153px;
    right: -1151px;
}
.btn-accueil{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -100px;
    right: -25px;
}
.btn-accueil:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-jeux{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -160px;
    left: -179px;
}
.btn-jeux:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-site-web{
    padding: 12px 0px;
    width: 200px;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -220px;
    left: -384px;
}
.btn-site-web:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.btn-amis{
    padding: 12px 0px;
    width: 32px;
    max-width: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 180px;
    right: -1035px;
}
.btn-amis:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-news{
    padding: 12px 0px;
    width: 32px;
    max-width: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 180px;
    right: -1050px;
}
.btn-news:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}
.btn-profil{
    padding: 12px 0px;
    width: 32px;
    max-width: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(128, 128, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 180px;
    right: -1075px;
}
.btn-profil:hover{
    background-color: rgba(128, 128, 0, 0);
    cursor: pointer;
}