/* Body général pour toutes les pages inscrites ici */

body{
    --main-color: #FF7C00;
    --hover-color: #FF9700;
    font-family: 'Montserrat', sans-serif;
    --background-color: rgb(64,68,75);
    background-color: var(--background-color);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* Gestion de la page "connecting.html" */

.logo-connecting{
    width: 125px;
    height: 125px;
    margin-top: 25px;
    background: url('../img/icon-app/icon.ico') center center no-repeat;
    background-size: contain;
}
.connecting-info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-login{
    margin-top: 115px;
    padding: 12px 0px;
    width: 220px;
    max-width: 220px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
}
.btn-login:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.connecting-sign-up{
    color: rgb(44, 44, 44);
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
}
.btn-sign-up{
    color: var(--main-color);
}
.div-help-connecting{
    max-width: 130px;
}
.help-connecting{
    color: rgb(44, 44, 44);
    margin: 0px 0px;
    max-width: 125px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    position: relative;
    left: 20px;
    bottom: -86px;
}
.version-app{
    color: rgb(44, 44, 44);
    margin: 0px 0px;
    max-width: 75px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    position: relative;
    right: -320px;
    bottom: -71px;
}
.help{
    color: var(--main-color);
}

/* Gestion de la page "login.html" */

.logo-login{
    width: 125px;
    height: 125px;
    margin-top: 25px;
    background: url('../img/icon-app/icon.ico') center center no-repeat;
    background-size: contain;
}
.login-info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-login-app{
    padding: 12px 0px;
    width: 220px;
    max-width: 220px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -119px;
}
.btn-login-app:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.login-sign-up{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    position: relative;
    bottom: -135px;
}
.btn-login-sign-up{
    color: var(--main-color);
}
.div-help-login{
    max-width: 130px;
}
.help-login{
    color: rgb(44, 44, 44);
    margin: 0px 0px;
    max-width: 125px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    position: relative;
    left: 20px;
    bottom: -172px;
}
.version-login-app{
    color: rgb(44, 44, 44);
    margin: 0px 0px;
    max-width: 75px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    position: relative;
    right: -320px;
    bottom: -157px;
}
.help-login-2{
    color: var(--main-color);
}
.email-login{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    right: -13px;
    bottom: -50px;
    position: relative;
}
.password-login{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    left: -5px;
    bottom: -75px;
    position: relative;
}
input[id="email"]{
    width: 150px;
    max-width: 150px;
    height: 23px;
    border-radius: 10px;
    border: 1px;
    right: -20px;
    bottom: -50px;
    position: relative;
}
input[id="password"]{
    width: 170px;
    max-width: 170px;
    height: 23px;
    border-radius: 10px;
    border: 1px;
    right: -2px;
    bottom: -75px;
    position: relative;
}

/* Gestion de la page "sign-up.html" */

.logo-sign-up{
    width: 125px;
    height: 125px;
    margin-top: 25px;
    background: url('../img/icon-app/icon.ico') center center no-repeat;
    background-size: contain;
}
.sign-up-info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-sign-up-app{
    padding: 12px 0px;
    width: 220px;
    max-width: 220px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.2s;
    position: relative;
    bottom: -119px;
}
.btn-sign-up-app:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.sign-up-login{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    position: relative;
    bottom: -135px;
}
.btn-sign-up-login{
    color: var(--main-color);
}
.div-help-sign-up{
    max-width: 130px;
}
.help-sign-up{
    color: rgb(44, 44, 44);
    margin: 0px 0px;
    max-width: 125px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    position: relative;
    left: 20px;
    bottom: -152px;
}
.version-sign-up-app{
    color: rgb(44, 44, 44);
    margin: 0px 0px;
    max-width: 75px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    position: relative;
    right: -320px;
    bottom: -130px;
}
.help-sign-up-2{
    color: var(--main-color);
}
.username-sign-up{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    right: -13px;
    bottom: -40px;
    position: relative;
}
.email-sign-up{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    right: -13px;
    bottom: -50px;
    position: relative;
}
.password-sign-up{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    left: -5px;
    bottom: -75px;
    position: relative;
}
.confirm-password-sign-up{
    color: rgb(44, 44, 44);
    font-size: 14px;
    font-weight: 600;
    left: -5px;
    bottom: -85px;
    position: relative;
}
input[id="username_sign-up"]{
    width: 150px;
    max-width: 150px;
    height: 23px;
    border-radius: 10px;
    border: 1px;
    right: -20px;
    bottom: -40px;
    position: relative;
}
input[id="email_sign-up"]{
    width: 150px;
    max-width: 150px;
    height: 23px;
    border-radius: 10px;
    border: 1px;
    right: -20px;
    bottom: -50px;
    position: relative;
}
input[id="password_sign-up"]{
    width: 170px;
    max-width: 170px;
    height: 23px;
    border-radius: 10px;
    border: 1px;
    right: -2px;
    bottom: -75px;
    position: relative;
}
input[id="confirm-password_sign-up"]{
    width: 170px;
    max-width: 170px;
    height: 23px;
    border-radius: 10px;
    border: 1px;
    right: -2px;
    bottom: -85px;
    position: relative;
}